/* Calendar */
.calendar-big {
  --fc-border-color: theme('colors.primary.500');
  --fc-today-bg-color: theme('colors.accent.500');
}

.calendar-big .fc-toolbar.fc-header-toolbar,
.schedule-big .fc-toolbar.fc-header-toolbar {
  @apply bg-accent-500 h-20 text-primary-100 mb-0 px-8 justify-center;
}

.calendar-big .fc-toolbar-chunk,
.schedule-big .fc-toolbar-chunk {
  @apply flex items-center justify-between first:mr-auto first:w-12 last:ml-auto;
}

.calendar-big .fc-toolbar-chunk .fc-toolbar-title,
.schedule-big .fc-toolbar-chunk .fc-toolbar-title {
  @apply w-64 text-center;
}

.calendar-big .fc-toolbar-chunk > *,
.schedule-big .fc-toolbar-chunk > * {
  @apply ml-0;
}

.calendar-big .fc-scrollgrid,
.schedule-big .fc-scrollgrid {
  @apply border-t-0;
}

.calendar-big .fc-col-header-cell-cushion,
.schedule-big .fc-col-header-cell-cushion {
  @apply p-0;
}

.calendar-big .fc-col-header-cell-cushion .fc-daygrid-day-number,
.schedule-big .fc-col-header-cell-cushion .fc-daygrid-day-number {
  @apply py-3 select-none cursor-default;
}

.calendar-big .fc-col-header-cell,
.schedule-big .fc-col-header-cell {
  @apply border-none bg-primary-500 text-primary-100 font-fira;
}

.calendar-big .fc-theme-standard td {
  @apply border-primary-500 border-[2px] first:border-l-0 last:border-r-0 font-fira;
}

.calendar-big .fc-theme-standard tr:first-child > td,
.schedule-big .fc-theme-standard tr:first-child > td {
  @apply border-t-0;
}

.calendar-big .fc-theme-standard tr:last-child > td,
.schedule-big .fc-theme-standard tr:last-child > td {
  @apply border-b-0;
}

.calendar-big .fc-daygrid-day-frame:has(.fc-event),
.schedule-big .fc-daygrid-day-frame:has(.fc-event) {
  @apply cursor-pointer hover:bg-primary-300;
}

.calendar-big tbody tr {
  @apply h-[160px];
}

.schedule-big tbody tr {
  @apply h-[40px] relative;
}

.calendar-big .fc-daygrid-day-top,
.schedule-big .fc-daygrid-day-top {
  @apply justify-center mt-6 mb-2 text-xl;
}

.calendar-big .fc .fc-daygrid-day.fc-day-today {
  @apply text-primary-100 hover:underline;
}

.calendar-big .fc-event-main .schedule-big .fc-event-main {
  @apply px-0.5 py-1;
}

.calendar-big .fc-event,
.schedule-big .fc-event {
  @apply hover:bg-transparent pointer-events-none;
}

.calendar-big .fc-h-event,
.schedule-big .fc-v-event {
  @apply bg-transparent border-0 shadow-none;
}

.calendar-big .fc-event-title {
  @apply w-full;
}

.calendar-big .fc-daygrid-week-number {
  @apply px-2 bg-primary-500 text-primary-100 rounded-ee-md select-none;
}

.calendar-big .fc .fc-customPrevButton-button,
.calendar-big .fc .fc-customNextButton-button,
.calendar-big .fc .fc-customSettingsButton-button,
.schedule-big .fc .fc-customPrevButton-button,
.schedule-big .fc .fc-customNextButton-button,
.schedule-big .fc .fc-customSettingsButton-button {
  @apply bg-transparent border-none p-0;
}

.calendar-big .fc .fc-customPrevButton-button .fc-icon-custom,
.schedule-big .fc .fc-customPrevButton-button .fc-icon-custom {
  @apply w-12 h-12 bg-[url(/images/icon_back.svg)];
}
.calendar-big .fc .fc-customNextButton-button .fc-icon-custom,
.schedule-big .fc .fc-customNextButton-button .fc-icon-custom {
  @apply w-12 h-12 bg-[url(/images/icon_next.svg)];
}
.calendar-big .fc .fc-customSettingsButton-button .fc-icon-custom,
.schedule-big .fc .fc-customSettingsButton-button .fc-icon-custom {
  @apply w-12 h-12 bg-[url(/images/icon_settings.svg)];
}

/* Calendar small */

.calendar-small .fc {
  @apply w-full h-full;
}

.calendar-small .fc-header-toolbar {
  @apply hidden;
}
.calendar-small .fc-theme-standard td,
.calendar-small .fc-theme-standard th,
.calendar-small .fc-scrollgrid {
  @apply border-0;
}

.calendar-small thead .fc-daygrid-day-number {
  @apply text-xl text-primary-500 font-normal;
}

.calendar-small tbody .fc-day {
  @apply h-8;
}
.calendar-small .fc .fc-daygrid-body-natural .fc-daygrid-day-events {
  @apply mb-0 min-h-0;
}

.calendar-small .fc .fc-daygrid-day-top {
  @apply justify-center items-center;
}

.calendar-small tbody .fc-daygrid-day-number {
  @apply text-xs font-fira p-0 font-bold;
}

/* Schedule big */

.schedule-big {
  --fc-border-color: theme('colors.primary.500');
  --fc-today-bg-color: theme('colors.primary.300');
}

.schedule-big colgroup,
.schedule-big .fc-timegrid-axis,
.schedule-big .fc-timegrid-slot-lane,
.schedule-big tr:has(.fc-timegrid-divider) {
  @apply hidden;
}

.schedule-big .fc-timegrid-slot-label-frame {
  @apply text-left;
}

.schedule-big .fc-theme-standard td {
  @apply border-[2px] first:border-l-0 last:border-r-0 font-fira;
}

.schedule-big .fc-timegrid-slot-label {
  @apply border-dashed border-primary-500/60;
}

.schedule-big .fc-timegrid-slots tr:nth-child(odd) .fc-timegrid-slot-label {
  @apply border-primary-500/20;
}

.schedule-big .fc-day-mon .fc-timegrid-col-frame {
  @apply w-[150px] ml-auto;
}

.schedule-big .fc-event-title {
  @apply h-full;
}

.schedule-big .fc-event-overlap {
  @apply w-1/2;
}

.schedule-big .fc-timegrid-slots tr {
  @apply border-none;
}

.schedule-big .fc-timegrid-slot-label {
  @apply align-top;
}

.schedule-big .fc-timegrid-slot-label-cushion {
  @apply px-2 bg-primary-500 text-primary-100 rounded-ee-md;
}

.schedule-big .fc-timegrid-event-harness.overlapping {
  width: 50% !important;
}

.schedule-big .fc-timegrid-event-harness + .fc-timegrid-event-harness {
  left: 50% !important;
}

.schedule-big .fc-direction-ltr .fc-timegrid-col-events {
  @apply mx-1;
}
/* 
.schedule-big .fc .fc-daygrid-day.fc-day-today {
  @apply bg-accent-500 text-primary-100 hover:text-primary-900;
} */
