/* schedule-large.css */

/* Schedule Large Root Variables */
.schedule-large {
  --fc-border-color: var(--primary-color);
  --fc-today-bg-color: theme('colors.primary.300');
}

/* Scrollgrid Customization */
.schedule-large .fc-scrollgrid {
  @apply border-t-0;
}

/* Hide Unused Elements */
.schedule-large colgroup,
.schedule-large .fc-timegrid-axis,
.schedule-large .fc-timegrid-slot-lane,
.schedule-large tr:has(.fc-timegrid-divider) {
  @apply hidden;
}

.schedule-large .fc-timegrid-slot-label-frame {
  @apply text-left;
}

/* Table Borders */
.schedule-large .fc-theme-standard td {
  @apply border-[2px] first:border-l-0 last:border-r-0 font-fira;
}

/* Timegrid Slot Labels */
.schedule-large .fc-timegrid-slot-label {
  @apply border-dashed border-primary-500/60;
}

.schedule-large .fc-timegrid-slots tr:nth-child(odd) .fc-timegrid-slot-label {
  @apply border-primary-500/20;
}

/* Column Frames */
.schedule-large .fc-day-mon .fc-timegrid-col-frame {
  @apply w-[150px] ml-auto;
}

/* Event and Overlap */
.schedule-large .fc-event-title {
  @apply h-full;
}

.schedule-large .fc-event-overlap {
  @apply w-1/2;
}

.schedule-large .fc-timegrid-slots tr {
  @apply border-none;
}

/* Slot Label Cushion */
.schedule-large .fc-timegrid-slot-label-cushion {
  @apply px-2 bg-primary-500 text-primary-100 rounded-ee-md;
}

/* Overlapping Events */
.schedule-large .fc-timegrid-event-harness.overlapping {
  width: 50% !important;
}

.schedule-large .fc-timegrid-event-harness + .fc-timegrid-event-harness {
  left: 50% !important;
}

/* Column Events Margin */
.schedule-large .fc-direction-ltr .fc-timegrid-col-events {
  @apply mx-1;
}
