@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,500;0,700;1,500&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,400;10..48,500;10..48,600;10..48,700&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply bg-primary-300 text-primary-900 font-fira tracking-wider;
  }

  /* Headings */
  h1 {
    @apply text-3xl font-normal font-cambria;
  }
  h2 {
    @apply font-normal text-2xl font-cambria;
  }
  h3 {
    @apply font-bold text-lg font-cambria;
  }
  .card h1 {
    @apply text-5xl font-bold tracking-normal leading-loose;
  }

  .card h2 {
    @apply text-lg font-bold leading-snug tracking-normal font-fira;
  }

  .desktop h1 {
    @apply text-4xl;
  }

  .desktop h2 {
    @apply text-3xl font-bold;
  }

  .headline-s h1 {
    @apply text-lg leading-none font-bold font-fira;
  }

  .headline-s h2 {
    @apply text-lg font-bold font-fira;
  }

  .headline-m h2 {
    @apply text-3xl font-bold font-fira;
  }

  .headline-l h1 {
    @apply text-[42px] font-bold font-fira;
  }

  /* Paragraphs */

  p {
    @apply font-thin;
  }

  .paragraph-s {
    @apply text-sm font-thin my-0.5;
  }

  .paragraph-m {
    @apply text-base font-thin;
  }

  .paragraph-l {
    @apply text-xl font-thin leading-8;
  }

  p.preview > p {
    @apply text-ellipsis overflow-hidden;
  }

  /* Cards */

  .card-base {
    @apply bg-primary-100 rounded-2xl shadow-md;
  }
  .card-px {
    @apply px-6 md:px-16;
  }
  .card-py {
    @apply py-14;
  }

  /* Wordpress */

  .wordpress-content {
    @apply flex items-start flex-col gap-4;
  }

  .wordpress-content > * {
    @apply last:!mb-0;
  }

  .wordpress-content .wp-block-column {
    @apply flex items-start flex-col gap-2;
  }

  .wordpress-content div {
    @apply w-full;
  }

  .wordpress-content a {
    @apply underline text-accent-500 font-medium;
  }

  .wordpress-content a:hover {
    @apply text-primary-900;
  }

  .wordpress-content figure {
    @apply flex flex-col rounded-lg p-4 shadow-md mx-auto items-center gap-2;
  }

  .wordpress-content img {
    @apply object-cover overflow-hidden;
  }

  .wordpress-content figcaption {
    @apply text-sm font-thin text-center text-primary-900;
  }

  .wordpress-content ul {
    @apply list-disc list-outside pl-8 w-full flex flex-col gap-0.5;
  }

  .wordpress-content ol {
    @apply list-decimal list-outside pl-8 w-full flex flex-col gap-0.5;
  }

  .wordpress-content li {
    @apply text-base font-thin;
  }

  .wordpress-content h1 {
    @apply text-4xl font-medium font-fira;
  }

  .wordpress-content h2 {
    @apply text-3xl font-medium font-fira mt-4 first:mt-0;
  }

  .wordpress-content h3 {
    @apply text-2xl font-medium font-fira mt-4;
  }

  .wordpress-content h4 {
    @apply text-xl font-medium font-fira;
  }

  /* Wordpress blockquote */

  .wordpress-content blockquote {
    @apply flex flex-col w-full mb-4 mt-2 md:w-2/3 rounded-lg bg-primary-100 text-accent-500 pt-6 pb-4 px-4 md:px-12 shadow-md mx-auto;
  }

  .wordpress-content blockquote p {
    @apply text-xl font-bold text-center mb-1;
  }

  .wordpress-content blockquote p::before {
    @apply content-['“'] text-2xl font-medium pr-2;
  }

  .wordpress-content blockquote p::after {
    @apply content-['”'] text-2xl font-medium pl-2;
  }

  .wordpress-content cite {
    @apply text-xs md:text-base font-thin text-primary-500 text-center;
  }

  /* Wordpress details */

  .wordpress-content details {
    @apply w-full rounded-lg flex items-start my-2;
  }

  .wordpress-content details > * {
    @apply mb-2 first:mb-0 last:mb-0 px-4 [&:nth-child(2)]:mt-4;
  }
  .wordpress-content details ol,
  .wordpress-content details ul {
    @apply pl-12;
  }

  .wordpress-content details summary {
    @apply w-full rounded-lg bg-accent-500 text-primary-100 py-2 pr-4 pl-12 cursor-pointer relative;
  }

  .wordpress-content details summary::marker {
    @apply content-none;
  }

  .wordpress-content details summary:before {
    @apply origin-[2px] content-[''] border-8 border-solid border-t-transparent border-b-transparent border-l-primary-100 border-r-transparent absolute top-4 left-6 transition;
  }

  .wordpress-content details[open] > summary:before {
    @apply rotate-90;
  }

  /* Calendar */
  .calendar-big .fc-toolbar.fc-header-toolbar {
    @apply bg-accent-500 h-20 text-primary-100 mb-0 px-8 justify-center;
  }

  .calendar-big .fc-toolbar-chunk {
    @apply flex items-center justify-between first:mr-auto first:w-12 last:ml-auto;
  }

  .calendar-big .fc-toolbar-chunk .fc-toolbar-title {
    @apply w-64 text-center;
  }

  .calendar-big .fc-toolbar-chunk > * {
    @apply ml-0;
  }

  .calendar-big .fc-scrollgrid {
    @apply border-t-0;
  }

  .calendar-big .fc-col-header-cell-cushion {
    @apply p-0;
  }

  .calendar-big .fc-col-header-cell-cushion .fc-daygrid-day-number {
    @apply py-3;
  }

  .calendar-big .fc-col-header-cell {
    @apply border-none bg-primary-500 text-primary-100 font-fira;
  }

  .calendar-big .fc-theme-standard td {
    @apply border-primary-500 border-[2px] first:border-l-0 last:border-r-0 font-fira;
  }

  .calendar-big .fc-theme-standard tr:first-child > td {
    @apply border-t-0;
  }

  .calendar-big .fc-theme-standard tr:last-child > td {
    @apply border-b-0;
  }

  .calendar-big .fc-daygrid-day-frame:has(.fc-event) {
    @apply cursor-pointer hover:bg-primary-300;
  }

  .calendar-big tbody tr {
    @apply h-[150px];
  }

  .calendar-big .fc-daygrid-day-top {
    @apply justify-center mt-6 mb-2 text-xl;
  }
  .calendar-big .fc-daygrid-day-top {
    @apply justify-center mt-6 mb-2 text-xl;
  }

  .calendar-big .fc .fc-daygrid-day.fc-day-today {
    @apply bg-accent-500 text-primary-100 hover:text-primary-900;
  }

  .calendar-big .fc-event {
    @apply hover:bg-transparent pointer-events-none;
  }

  .calendar-big .fc .fc-customPrevButton-button,
  .calendar-big .fc .fc-customNextButton-button,
  .calendar-big .fc .fc-customSettingsButton-button {
    @apply bg-transparent border-none p-0;
  }

  .calendar-big .fc .fc-customPrevButton-button .fc-icon-custom {
    @apply w-12 h-12 bg-[url(/images/icon_back.svg)];
  }
  .calendar-big .fc .fc-customNextButton-button .fc-icon-custom {
    @apply w-12 h-12 bg-[url(/images/icon_next.svg)];
  }
  .calendar-big .fc .fc-customSettingsButton-button .fc-icon-custom {
    @apply w-12 h-12 bg-[url(/images/icon_settings.svg)];
  }

  /* Calendar small */

  .calendar-small .fc {
    @apply w-full h-full;
  }

  /* Scroll */

  body::-webkit-scrollbar,
  textarea::-webkit-scrollbar,
  .custom-scroll::-webkit-scrollbar {
    @apply w-2.5 h-2.5;
  }
  body::-webkit-scrollbar-track,
  textarea::-webkit-scrollbar-track,
  .custom-scroll::-webkit-scrollbar-track {
    @apply bg-primary-100;
  }
  body::-webkit-scrollbar-thumb,
  textarea::-webkit-scrollbar-thumb,
  .custom-scroll::-webkit-scrollbar-thumb {
    @apply border-2 border-primary-100 border-solid rounded-md bg-primary-500;
  }

  /* Misc */

  figure > img {
    @apply object-cover;
  }

  li::marker {
    @apply text-accent-500;
  }
}

html,
body {
  scroll-behavior: smooth !important;
  /*  */
}

html,
textarea,
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: theme('colors.primary.500') white;
  scrollbar-gutter: 1rem;
}

/* .rdg-row {
  background-color: blue;
} */

/* span.small {
  font-variant: small-caps;
} */

.small {
  font-variant: small-caps;
}

/* summary:before {
  transform-origin: left;
} */
